Repository edalfon/epyfun: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
        exclude: ^tests/tests_resources/
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/tests_resources/
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        exclude: ^tests/tests_resources/
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
        exclude: ^tests/tests_resources/
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
        exclude: ^tests/tests_resources/
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
        exclude: ^tests/tests_resources/
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: ^tests/tests_resources/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
        exclude: ^tests/tests_resources/
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
        exclude: ^tests/tests_resources/
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
        exclude: ^tests/tests_resources/
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier

feat: add the fs module with a subset of fns
  src/epyfun/fs.py
  tests/test_fs.py
  tests/tests_resources/TU_Stundenwerte_Beschreibung_Stationen.txt
  tests/tests_resources/air_temperature_stations.txt
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: exclude files from pre-commit
  .pre-commit-config.yaml
  noxfile.py
Due: bandit, black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

fix: update the hash in tests
  tests/test_fs.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

build: bump pkg version patch/fix
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

fix: add permissions to release job
  .github/workflows/release.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

build: bump version patch and remove cookiecutter
  .cookiecutter.json
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

build: add deps and a makefile placeholder
  Makefile
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

feat: add plotly helpers subset
  pyproject.toml
  src/epyfun/plotly.py
  tests/test_plotly.py
Due: bandit, black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

build: bump version patch
  Makefile
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

feat: add web module
  poetry.lock
  pyproject.toml
  src/epyfun/__init__.py
  src/epyfun/web.py
  tests/test_web.py
Due: bandit, black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

build: bump version
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

feat: add pandas helpers placeholder subset
  src/epyfun/pandas.py
  tests/test_pandas.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

build: expose fns directly
  src/epyfun/__init__.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: expose fns
  src/epyfun/__init__.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: adjust opacity for selected points
  src/epyfun/plotly.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: add args docs and type
  src/epyfun/plotly.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade
